{% load staticfiles %}
<div class='visible-sm visible-xs' style="margin-top: 100px;"></div>
<h3 class="section-title style2 text-center"><span>How Does it Work?</span></h3>
<div class="row" style='margin-top: 2%; width: 100%'>
	<div class="col-md-10 col-md-offset-1" >


		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 text-center">
			<a href=""><img src="{% static 'assets/regular-icons/icon_getpoints.png' %}"> </a>
			<h2>Get Points</h2>
			<p class='lead'>Get points by purchasing a subscription, sending in used clothes or winning social contests</p>
		</div>

		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 text-center">
			<a  href=""><img src="{% static 'assets/regular-icons/icon_chooseclothes.png' %}"> </a>
			<h2>Choose Clothes</h2>
			<p class="lead">Browse hundreds of clothes online and choose the ones you want by using your points</p>
		</div>

		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 text-center">
			<a href=""><img src="{% static 'assets/regular-icons/icon_returnwhenever.png' %}"> </a>
			<h2>Return Whenever</h2>
			<p class="lead">Borrow the clothes for a few days or a few months, then return them and choose new clothes</p>
		</div>

		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 text-center">
			<a href=""><img src="{% static 'assets/regular-icons/icon_ownit.png' %}"> </a>
			<h2>Own It</h2>
			<p class="lead">Keep what you like in your closet or buy individuals items online without borrowing them first</p>
		</div>
	</div>
</div>