@font-face{
	font-family: manifesto;
	src: url(../fonts/manifesto.tff);
}

#custom-cart-add{
	background-color: #C6C7C7;
	border-radius: 0 !important;
	margin-bottom: 1%;
	width: 95px;
	max-height: 2000px !important; 
}

#custom-cart-row{
	margin-top: 5%;
	margin-bottom: 5%;
}


#custom-cart-add:hover{
	background-color: #8A8A8A;
}

#custom-featured{
	margin-top: 15px;
}

#custom-product-featured-show{
	margin-top: 25px;
}

#custom-nav-font{
	font-weight: 100;
}

.front-display-img{
	height: 500px;
	background: url(../photos/womanclosetbg.jpg);
}

#pricing-bold{
	font-family: 'Amaranth', sans-serif;
	font-size: 45px;
}

#pricing-small{
	font-family: 'Amaranth', sans-serif;
	font-size: 20px;	
}
