@font-face{
	font-family: manifesto;
	src: url(../fonts/manifesto.tff);
}

#custom-cart-add{
	background-color: #C6C7C7;
	border-radius: 0 !important;
	margin-bottom: 1%;
	width: 95px;
	max-height: 2000px !important; 
}

#custom-cart-row{
	margin-top: 5%;
	margin-bottom: 5%;
}


#custom-cart-add:hover{
	background-color: #8A8A8A;
}

#custom-featured{
	margin-top: 15px;
}

#custom-product-featured-show{
	margin-top: 25px;
}

#custom-nav-font{
	font-weight: 100;
}

.front-display-img{
	height: 500px;
	background: url(../photos/womanclosetbg.jpg);
}

#pricing-bold{
	font-family: 'Amaranth', sans-serif;
	font-size: 45px;
}

#pricing-small{
	font-family: 'Amaranth', sans-serif;
	font-size: 20px;	
}

/*********************************************************/
/* account profile changes */
/*********************************************************/
.profile-heading-custom{
	font-size: 50px;
	font-weight: 200;
	background-color: #BEBEBE;
	border-radius: 2px;
	padding: 25px;
}

.profile-body-custom{
	background-color: #00BBDE;
	height: 100px;
	color: white;
	padding-top: 30px;
	font-weight: 400;
	font-size: 50px;
}

.profile-body-footer{
	font-weight: 100;
	padding-top: 15px;
	font-size: 20px !important;
}

.profile-heading-custom-mobile{
	font-size: 20px;
	font-weight: 400;
	background-color: #BEBEBE;
	border-radius: 1px;
	padding: 5px;
	
}

