{% load staticfiles %}
<div class="dropdown-menu col-lg-4 col-xs-12 col-md-4 " >
            <div class="w100 miniCartTable scroll-pane" style='overflow: scroll;'>
              <table>
                <tbody>
                  {% if list.buy.count >= 1 %}
                  <h3 style='margin-left: 15px;'>Buy Items</h3>
                  {% for item in list.buy %}
                  <tr class="miniCartProduct">
                    <td style="width:20%" class="miniCartProductThumb"><div> <a href="{% url 'product_detail_non_json' item.product.id %}"> <img src="{% static 'images/product/3.jpg' %}" alt="img"> </a> </div></td>
                    <td style="width:40%"><div class="miniCartDescription">
                        <h4> <a href="{% url 'product_detail_non_json' item.product.id %}">{{ item.product.title }}</a> </h4>
                        <span class="size"> 12 x 1.5 L </span>
                        <div class="price"> <span> ${{ item.product.price }} </span> </div>
                      </div></td>
                    <!-- <td  style="width:10%" class="miniCartQuantity"><a > X 1 </a></td> -->
                    <!-- <td  style="width:15%" class="miniCartSubtotal"><span></span></td> -->
                    <td  style="width:5%" class="delete"><a > <a href="{% url 'delete_item' item.id %}">x</a> </a></td>
                  </tr>
                  {% endfor %}
                  {% endif %}
                </tbody>
              </table>
              <table>
                {% if list.borroh.count >= 1 %}
                <h3 style='margin-left: 15px;'>Borroh Items</h3>
                <tbody>
                {% for item in list.borroh %}
                  <tr class="miniCartProduct">
                    <td style="width:20%" class="miniCartProductThumb"><div> <a href="{% url 'product_detail_non_json' item.product.id %}"> <img src="{% static 'images/product/3.jpg' %}" alt="img"> </a> </div></td>
                    <td style="width:40%"><div class="miniCartDescription">
                        <h4> <a href="{% url 'product_detail_non_json' item.product.id %}">{{ item.product.title }}</a> </h4>
                        <span class="size"> 12 x 1.5 L </span>
                        <div class="price"> <span> ${{ item.product.price }} </span> </div>
                      </div></td>
                    <!-- <td  style="width:10%" class="miniCartQuantity"><a > X 1 </a></td> -->
                    <!-- <td  style="width:15%" class="miniCartSubtotal"><span></span></td> -->
                    <td  style="width:5%" class="delete"><a ><a href="{% url 'delete_item' item.id %}">x</a> </a></a></td>
                  </tr>
                  {% endfor %}
                  {% endif %}
                </tbody>
              </table>
            </div>
            <!--/.miniCartTable-->
            
            <div class="miniCartFooter text-right">
              <h3 class="text-right subtotal"> Buy Subtotal: ${{ cart.total_price }} </h3>
                <h3 class="text-right subtotal"> Borroh Subtotal: {{ cart.total_points }} </h3>
                <a href="{% url 'cart_show' %}" class="btn btn-sm btn-danger"> <i class="fa fa-shopping-cart"> </i> VIEW CART </a> <a href="{% url 'start_order_process' %}" class="btn btn-sm btn-primary"> CHECKOUT </a> 
            </div>
            <!--/.miniCartFooter--> 
            
            
          </div>