{% load staticfiles %}

 <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <hr class='visible-xs visible-sm'>
        <div class="row visible-xs visible-sm">
          <div class="col-xs-8" style='margin-left: 10px;'>
            <input type="text" class="form-control" placeholder="Search">

          </div>
          <div class="col-xs-2" style='margin-top: 2px;'>
            <button style='border: dotted 1px;' type="submit" class="btn btn-default">Submit</button>
          </div>
        </div>
        <!-- ############################ -->
        <!-- login/logout mobile -->
        <!-- ############################ -->
        <hr class='visible-xs visible-sm'>
        {% include 'layouts/nav/login_logout_for_mobile.html' %}
        <li class="active"> <a href="{% url 'home' %}"> Home </a> </li>

        <li class="dropdown megamenu-fullwidth"> 
          <a data-toggle="dropdown" class="dropdown-toggle" href="#"> New Products 
            <b class="caret"> </b> 
          </a>
          {% include 'layouts/nav/new_products_dropdown.html' %}
        </li>
      </ul>

  
      <!--- this part will be hidden for mobile version -->
      {% if items.count > 0 %}
      {% include 'layouts/partials/cart/_buy_cart.html' %}
      {% else %}
        <div class="nav navbar-nav navbar-right hidden-xs">
          <div class="dropdown  cartMenu "> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-shopping-cart"> </i>
          <span class="cartRespons"> Cart (Empty!)</span></a>
        </div>
      {% endif %}
        <!--/.cartMenu-->
        
       
        <!--/.search-box --> 
      </div>
      <!--/.navbar-nav hidden-xs--> 
    </div>