 <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"> <a href="{% url 'home' %}"> Home </a> </li>

        <li class="dropdown megamenu-fullwidth"> <a data-toggle="dropdown" class="dropdown-toggle" href="#"> New Products <b class="caret"> </b> </a>
          {% include 'layouts/nav/new_products_dropdown.html' %}
        </li>
        
        <!-- change width of megamenu = use class > megamenu-fullwidth, megamenu-60width, megamenu-40width -->
        <li class="dropdown megamenu-80width "> <a data-toggle="dropdown" class="dropdown-toggle" href="#"> SHOP <b class="caret"> </b> </a>
         {% include 'layouts/nav/shop_dropdown.html' %}
        </li>

        <li class="dropdown megamenu-fullwidth"> <a data-toggle="dropdown" class="dropdown-toggle" href="#"> PAGES <b class="caret"> </b> </a>
          {% include 'layouts/nav/pages_dropdown.html' %}
        </li>

      </ul>

     
   

      <!--- this part will be hidden for mobile version -->
      {% if items.count > 0 %}
      {% include 'layouts/partials/cart/_buy_cart.html' %}
      {% else %}
        <div class="nav navbar-nav navbar-right hidden-xs">
          <div class="dropdown  cartMenu "> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-shopping-cart"> </i>
          <span class="cartRespons"> Cart (Empty!)</span></a>
        </div>
      {% endif %}
        <!--/.cartMenu-->
        
        <div class="search-box">
          <div class="input-group">
            <button class="btn btn-nobg getFullSearch" type="button"> <i class="fa fa-search"> </i> </button>
          </div>
          <!-- /input-group --> 
          
        </div>
        <!--/.search-box --> 
      </div>
      <!--/.navbar-nav hidden-xs--> 
    </div>