{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% block account %}

<div class="container main-container headerOffset">
{% include 'account/address/nav.html' %}

{% if errors %}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Errors</strong> Please try logging in again.
</div>
{% elif user.is_authenticated %}
  <div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Already Logged in</strong> You are already logged in.
</div>
{% endif %}

<div class="row">
  
    <div class="col-lg-9 col-md-9 col-sm-7">

      <h1 class="section-title-inner"><span><i class="fa fa-lock"></i> Authentication</span></h1>
      
      <div class="row userInfo">
      
        <div class="col-xs-12 col-sm-6">
          <h2 class="block-title-2"> Create an account </h2>
          <form method="POST" role="form" class="regForm" action="{% url 'auth_create_account' %}">
            {% csrf_token %}
            <div class="form-group">
              <label >Name</label>
              {{ register.username }}
            </div>
            <div class="form-group">
              <label >Email address</label>
              {{ register.email }}
            </div>
            <div class="form-group">
              <label>Password</label>
              {{ register.password }}
            </div>
            <div class="error">
            </div>
            
            <button type="submit" class="btn   btn-primary"><i class="fa fa-user"></i> Create an account</button>
          </form>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h2 class="block-title-2"><span>Already registered?</span></h2>
          <form id='loginForm' method="POST" role="form" class="logForm" action="{% url 'auth_login' %}" >
            {% csrf_token %}
            
            <div class="form-group">
              <label>Username</label>
              
              {{ login.username }}

            </div>
            <div class="form-group">
              <label>Password</label>
              {{ login.password }}
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="checkbox">
                Remember me </label>
            </div>
            <div class="form-group">
              <p><a title="Recover your forgotten password" href="forgot-password.html">Forgot your password? </a></p>
            </div>

            <button type='submit' class="btn btn-primary"><i class="fa fa-sign-in"></i>Sign In</button>
          </form>
        </div>
      </div>
      <!--/row end--> 
      
    </div>
    
    <div class="col-lg-3 col-md-3 col-sm-5"> </div>
  </div> <!--/row-->
  
  <div style="clear:both"></div>
</div>
<!-- /wrapper -->

<div class="gap"> </div>

</div>


{% endblock %}