{% extends 'layouts/base.html' %}
{% load staticfiles %}
    
{% block content %}

<div class="container main-container headerOffset">
  <div class="row">
    <div class="breadcrumbDiv col-lg-12">
      {% include 'order/partials/_checkout_sitemap.html' %}
    </div>
  </div>
  
  <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-7">
            <h1 class="section-title-inner"><span><i class="glyphicon glyphicon-shopping-cart"></i> Checkout</span></h1>
</div>

    <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar"> 

      <h4 class="caps"><a href="category.html"><i class="fa fa-chevron-left"></i> Back to shopping </a></h4>
      </div>
</div>
  
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="row userInfo">
        
        <div class="col-xs-12 col-sm-12">
        
       <div class="w100 clearfix"> 
       
      {% include 'order/partials/_checkout_nav_borroh.html' %} 
      </div>
        
        
        <div class="w100 clearfix">
        
        
          <div class="row userInfo">
                
                <div class="col-lg-12">
                    <h2 class="block-title-2"> Review Order </h2>
                </div>
                
            
            
              <div class="col-xs-12 col-sm-12">
                      <div class="cartContent w100 checkoutReview ">
                        <table class="cartTable table-responsive"   style="width:100%">
                          <tbody>
                            <tr class="CartProduct cartTableHeader">
                              <th style="width:15%"> Product </th>
                              <th class="checkoutReviewTdDetails"  ></th>
                              <th style="width:10%" >Unit Price</th>
                              <th class="hidden-xs" style="width:5%"></th>
                              <th class="hidden-xs" style="width:10%" >Discount</th>
                              <th style="width:15%">Total</th>
                            </tr>

                            {% for item in current_cart_items %}

                            <tr class="CartProduct">
                              <td  class="CartProductThumb"><div> <a href="{% url 'product_detail_non_json' item.product.id%}"><img src="{{ settings.SERVER }}/media/{{ item.product.image_set.all.0 }}"></a> </div></td>
                              <td ><div class="CartDescription">
                                  <h4> <a href="{% url 'product_detail_non_json' item.product.id%}">{{ item.product.title }}</a> </h4>
                                  <!-- <span class="size">12 x 1.5 L</span> -->
                                 
                                </div></td>
                              {% if order.type_of_cart == 'Borroh' %}

                              <td class="delete"><div class="price ">{{ item.product.points_price }} points</div></td>
                              {% elif order.type_of_cart == 'Buy' %}
                              <td class="delete"><div class="price ">${{ item.product.price }}</div></td>
                              {% endif %}
                              <td class="hidden-xs"></td>


                              {% if item.product.discount == None %}
                              <td class="hidden-xs">n/a</td>
                              {% else %}
                              {% if item.borroh == True %}
                              <td class="hidden-xs">n/a</td>
                              {% else %}
                              <td class="hidden-xs">{{ item.product.discount }}</td>
                              {% endif %}
                              {% endif %}
                              {% if borroh_order %}
                              <td class="price">{{ item.cart.total_points }} points</td>
                              {% elif session_order.type_of_cart == 'Buy' %}
                              <td class="price">${{ item.cart.total_price }}</td>

                              {% endif %}
                            </tr>          
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>

                      <!--/costDetails-->

                      {% if borroh_order %}
                      <div class="w100 costDetails">
                        <div class="table-block" id="order-detail-content">
                          <table class="std table" id="cart-summary">
                            {% if order.does_not_have_free_shipping %}
                            <tr >
                              <td>Your Credit Card On File</td>
                              <td  class="price">{{ profile.usercreditcard_set.first }}</td>
                            </tr>
                            {% endif %}
                            <tr >
                              <td>Total Points</td>
                              <td  class="price">{{ cart.total_points }} points</td>
                            </tr>
                            <tr style="" >
                              <td>Shipping</td>
                              {% if order.has_free_shipping %}
                              <td  class="price"><span class="success">Free shipping!</span></td>
                              {% else %}
                              <td  class="price"><span class="success">{{ shipping_cost.carrier }}: ${{ shipping_cost.rate }}</span></td>
                              {% endif %}
                            </tr>
                           
                       
                            <tr >
                              
                              <td > Total cost w/ shipping </td>
                              {% if order.has_free_shipping %}
                              <td id="total-price" class="price">{{ cart.total_points }} points </td>
                              {% else %}
                              <td id="total-price" class="price">${{ shipping_cost.rate }} shipping</td>
                              {% endif %}
                            </tr>
                            <tbody>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      {% endif %}

                      <!--cartContent-->
                      
                      {% if borroh_order == False %}
                      <div class="w100 costDetails">
                        <div class="table-block" id="order-detail-content">
                          <table class="std table" id="cart-summary">
                            <tr >
                              <td>Total products</td>
                              <td  class="price">${{ session_order.cart.total_price }} </td>
                            </tr>
                            <tr style="" >
                              <td>Shipping</td>
                              {% if shipping_cost == 0 %}
                              <td  class="price"><span class="success">Free shipping!</span></td>
                              {% else %}
                              <td  class="price"><span class="success">${{ shipping_cost.rate }}</span></td>
                              {% endif %}
                            </tr>
                            <tr class="cart-total-price ">
                              <td>Total (tax excl.)</td>
                              <td  class="price">${{ cart.total_price }} </td>
                            </tr>
                            <tr >
                              <td>Total tax</td>
                              <td id="total-tax" class="price">{{ session_order.total_tax }}</td>
                            </tr>
                            <tr >
                              <td > Total w/tax & Shipping </td>
                              <td id="total-price" class="price">${{ session_order.total_with_tax_and_shipping }} </td>
                            </tr>
                            <tbody>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      {% endif %}

                      
          
          <!--/row-->
  
          
        </div>
                
                
                </div>
                
          
            
            
            
            </div><!--/row end-->
            
            
            
            <div class="cartFooter w100">
            <div class="box-footer">
              <div class="pull-left"> <a class="btn btn-default" href="{% url 'order_shipping' %}">
          <i class="fa fa-arrow-left"></i> &nbsp; Shipping </a> 
               </div>
               
               
               <div class="pull-right">
                
                <a href="{% url 'order_submit' %}" class="btn btn-danger btn-small " > 
                  Confirm Order &nbsp; 
                  <i class="fa fa-check"></i>
                 </a>
                 
              </div>
               
               
              
            </div>
          </div>
          <!--/ cartFooter --> 
            
        </div>
          
                
        </div>
      </div>
      <!--/row end--> 
      
      <!-- {% include 'order/partials/_right_column_total.html' %}   -->

    <!--/rightSidebar--> 
    
  </div>
  <!--/row-->
  
  <div style="clear:both"></div>
</div>
<!-- /wrapper --> 

{% endblock %}