{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% block content %}
 <div class="container main-container headerOffset">
  <div class="row">
    <div class="breadcrumbDiv col-lg-12">
     {% include 'order/partials/_checkout_sitemap.html' %}
    </div>
  </div>
  <!--/.row-->
  
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-7">
      <h1 class="section-title-inner"><span><i class="glyphicon glyphicon-shopping-cart"></i> Checkout</span></h1>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar">
      <h4 class="caps"><a href="category.html"><i class="fa fa-chevron-left"></i> Back to shopping </a></h4>
    </div>
  </div> <!--/.row-->
  
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="row userInfo">
        <div class="col-xs-12 col-sm-12">
          <div class="w100 clearfix">
            <ul class="orderStep orderStepLook2">
              <li class='active'> <a href="{% url 'order_address' %}"><i class="fa fa-map-marker "></i><span>address</span></a> 
              </li>
              <!-- <li> <a href="{% url 'order_billing' %}"> <i class="fa fa fa-envelope  "></i> <span> Billing </span></a></li> -->
              <li> <a href="{% url 'order_shipping' %}"><i class="fa fa-truck "> </i><span>Shipping</span> </a> </li>
              <li> <a href="{% url 'order_payment' %}"><i class="fa fa-money  "> </i><span>Payment</span> </a> </li>
              <li> <a href="{% url 'order_show' %}"><i class="fa fa-check-square "> </i><span>Order</span></a> </li>
            </ul>

            <!--/.orderStep end--> 
          </div>
          
          
          <div class="w100 clearfix">
            <div class="row userInfo">
              {% if is_addresses_to_show %}
            <div class="row userInfo">
      
              <div style='margin-left: 15px;' class="col-lg-12">
                <h2> Your addresses are listed below. </h2>
                <p> Select an address to use, and check if it is a billing address.</p>
              </div>
              
           
              <div style='margin-left: 15px;' class="w100 clearfix">
                {% for address in user_addresses %}
              
                <div class="col-xs-12 col-sm-6 col-md-4">
                  
              


                <div style='margin-top: 10px' class='visible-sm visible-xs'></div>
                

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title"><strong>{{ address.name }}</strong></h3>
                    </div>
                    <div class="panel-body">
                      <ul >
                        
                          <li> <span class="address-name"> <strong>{{ address.first }} {{ address.last }} </strong></span></li>
                          <!-- <li> <span class="address-company"> TanimDesign & Development </span></li> -->
                          <li> <span class="address-line1"> Street: {{ address.street }} </span></li>
                          <li> <span class="address-line2"> Secondary: {{ address.secondary }} </span></li>
                          <li> <span class="address-line2"> State: {{ address.state }} </span></li>
                          <li> <span> <strong>Mobile</strong> : {{ address.phone_number }} </span></li>
                          

                        <!-- <li> <span> <strong>Phone</strong> : 020904 - 85882 </span></li> -->
                      </ul>
                    </div>
                    <div class="panel-footer panel-footer-address"> 
                      <form method='POST' action="{% url 'order_shipping' %}">
                        {% csrf_token %}
                        <input type='hidden' name='address_id' value="{{ address.id }}">
                        <button class="btn btn-sm btn-default"> 
                          <i class="fa fa-edit"></i> Use This Address 
                        </button> 
                      </form>
                     
                    </div>
                  </div>
                
                
              </div>
              {% endfor %}
              {% else %}
              <form method='POST' action="{% url 'order_address' %}">
                {% csrf_token %}
                <div class="row">
                  <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <div style='padding-left: 15px; margin-bottom: 15px;'>
                      {{ new_address_form.as_p }}
                      <button class='btn btn-default'>Add Address</button>
                    </div>

                  </div>
                </div>
              </form>
              {% endif %}

            </div>
            <!--/row end--> 
            
          </div>
          <div style='margin-left: 15px; margin-bottom: 15px;' class="cartFooter w100">
            <div class="box-footer">
              <div class="pull-left"> <a class="btn btn-default" href="index.html"> <i class="fa fa-arrow-left"></i> &nbsp; Back to Shop </a> </div>
              <div class="pull-right"> 

              </div>
            </div>
          </div>
          <!--/ cartFooter --> 
          
        </div>
        
      </div>
      <!--/row end--> 
      
    </div>
    
      <!--  /cartMiniTable--> 
      
    </div>
    <!--/rightSidebar--> 
    
  </div> <!--/row-->
  
  <div style="clear:both"></div>




{% endblock %}