{% extends 'layouts/base.html' %}
{% load staticfiles %}
    
{% block content %}
<div class="container main-container headerOffset">
  <div class="row">
    <div class="breadcrumbDiv col-lg-12">
      {% include 'order/partials/_checkout_sitemap.html' %}
    </div>
  </div>
  
  
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-7">
      <h1 class="section-title-inner"><span><i class="glyphicon glyphicon-shopping-cart"></i> Checkout</span></h1>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar">
      <h4 class="caps"><a href="category.html"><i class="fa fa-chevron-left"></i> Back to shopping </a></h4>
    </div>
  </div>
  
  
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="row userInfo">
        <div class="col-xs-12 col-sm-12">
          <div class="w100 clearfix">
          {% include 'order/partials/_checkout_nav_borroh.html' %}
            <!--orderStep--> 
          </div>
          <div class="w100 clearfix">
            <div class="row userInfo">
              <div class="col-lg-12">
                <h2 class="block-title-2"> Payment method </h2>
                <p>Please select the preferred shipping method to use on this order.</p>
                <hr>
              </div>
              <div class="col-xs-12 col-sm-12">
                <div class="paymentBox">
                  <div class="panel-group paymentMethod" id="accordion">
                    
                    <!-- <div class="panel panel-default">
                      <div class="panel-heading panel-heading-custom">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> <span class="numberCircuil">Option 2</span><strong> PayPal</strong> </a> </h4>
                      </div>
                      <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                          <p>All transactions are secure and encrypted, and we neverstor To learn more, please view our privacy policy.</p>
                          <br>
                          <label class="radio-inline" for="radios-3">
                            <input name="radios" id="radios-3" value="4" type="radio">
                            <img src="{% static 'images/site/payment/paypal-small.png' %}" height="18" alt="paypal"> Checkout with Paypal </label>
                          <div class="form-group">
                            <label for="CommentsOrder2">Add Comments About Your Order</label>
                            <textarea id="CommentsOrder2" class="form-control" name="CommentsOrder2" cols="26" rows="3"></textarea>
                          </div>
                          <div class="form-group clearfix">
                            <label class="checkbox-inline" for="checkboxes-0">
                              <input name="checkboxes" id="checkboxes-0" value="1" type="checkbox">
                              I have read and agree to the <a href="terms-conditions.html">Terms & Conditions</a> </label>
                          </div>
                          <div class="pull-right"> <a href="checkout-5.html" class="btn btn-primary btn-small " > Order &nbsp; <i class="fa fa-arrow-circle-right"></i> </a> </div>
                        </div>
                      </div>
                    </div> -->
                    <div class="panel panel-default">
                      <div class="panel-heading panel-heading-custom">
                        <h4 class="panel-title"> <a class="masterCard" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"> <span class="numberCircuil">Stripe Payment:</span> <strong> MasterCard/Visa/Amex</strong> </a> </h4>
                      </div>
                      <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                          <p>All transactions are secure and encrypted, and we neverstor To learn more, please view our privacy policy.</p>
                          <br>

                          <h1>Processing through stipe:</h1>
                          <h3>Choose one of your cards:</h3>
                          

                          <div class="panel open">
                            <form method='POST' action="{% url 'order_show' %}">
                              {% csrf_token %}
                              {% if user_credit_cards != None %}
                                {% for card in user_credit_cards %}
                                  <div class="row">
                                    <div class="col-lg-12">
                                      <label>{{ card.type_of_credit_card }} {{ card.credit_card_last_4 }}</label><input name="creditCardToken" style='margin-left: 10px;' type='radio' value="{{ card.card_token }}" checked>
                                    </div>
                                  </div>
                                {% endfor %}
                              {% else %}
                              <h1><a href="{% url 'profile_info' %}">Add A Credit Card</a></h1>
                              {% endif %}
                            <!--creditCard-->
                            
                              <div class="pull-right"> <button class="btn btn-primary btn-small " > Order &nbsp; <i class="fa fa-arrow-circle-right"></i> </button> </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <!--/row--> 
                
              </div>
            </div>
          </div>
          <!--/row end-->
          
          <div class="cartFooter w100">
            <div class="box-footer">
              <div class="pull-left"> <a class="btn btn-default" href="checkout-3.html"> <i class="fa fa-arrow-left"></i> &nbsp; Billing address </a> </div>
            </div>
          </div>
        </div>
        
        <!--/ cartFooter --> 
        
      </div>
    </div>
    <!--/row end-->
    
    <div class="col-lg-3 col-md-3 col-sm-12 rightSidebar">
      <div class="w100 cartMiniTable">
        <table id="cart-summary" class="std table">
          <tbody>
            <tr >

              <td>Total products</td>
              <td class="price" >${{ session_order.cart.total_price }}</td>
            </tr>
            <tr  style="">
              <td>Shipping</td>
              {% if session_order.has_free_shipping == True %}
              <td class="price" ><span class="success">Free shipping!</span></td>
              {% else %}
              <td class="price" ><span class="success">${{ session_order.shipping_cost }}</span></td>
              {% endif %}
            </tr>
            <tr class="cart-total-price ">
              <td>Total (tax excl.)</td>
              <td class="price" >${{ session_order.cart.total_price }}</td>
            </tr>
            <tr >
              <td>Total tax</td>
              <td class="price" id="total-tax">${{ session_order.total_tax }}</td>
            </tr>
            <tr >
              <td > Total w/tax & Shipping </td>
              <td class=" site-color" id="total-price">${{ session_order.total_with_tax_and_shipping }}</td>
            </tr>
          </tbody>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <!--/rightSidebar--> 
    
  </div>
  <!--/row-->
  
  <div style="clear:both"></div>
</div>
<!-- /.main-container -->
<script type="text/javascript">
  $(function(){
    
  });
</script>
{% endblock %}