{% load staticfiles %}
<!-- google fonts -->
<link href='http://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>

<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'assets/ico/apple-touch-icon-144-precomposed.png' %}">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'assets/ico/apple-touch-icon-114-precomposed.png' %}">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'assets/ico/apple-touch-icon-72-precomposed.png' %}">

<link rel="apple-touch-icon-precomposed" href="{% static 'ico/apple-touch-icon-57-precomposed.png' %}">
<link rel="shortcut icon" href="{% static 'assets/ico/favicon.png' %}">
<title>Borroh</title>
<!-- Bootstrap core CSS -->
<link href="{% static 'assets/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

<!-- css3 animation effect for this template -->
<link href="{% static 'assets/css/animate.min.css' %}" rel="stylesheet">

<!-- styles needed by carousel slider -->
<link href="{% static 'assets/css/owl.carousel.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/owl.theme.css' %}" rel="stylesheet">

<!-- styles needed by checkRadio -->
<link href="{% static 'assets/css/ion.checkRadio.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/ion.checkRadio.cloudy.css' %}" rel="stylesheet">

<!-- styles needed by mCustomScrollbar -->
<link href="{% static 'assets/css/jquery.mCustomScrollbar.css' %}" rel="stylesheet">

<!-- custom css -->

<link rel="stylesheet" type="text/css" href="{% static 'assets/custom_css/custom.css' %}">

<!-- font awesome -->
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

<!-- pricing table -->
<link rel="stylesheet" type="text/css" href="{% static 'assets/custom_css/pricing-tables.css' %}">
