{% load staticfiles %}

<h3 class="section-title style2 text-center"><span>Subscriptions</span></h3>
<div class="row">


  <div class="col-md-10 col-md-offset-1">
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
    
      <!-- PRICE ITEM -->
      <div class="panel price panel-red">
        <div class="panel-heading  text-center">
        <h1 id='pricing-bold'>30 Points</h3>
        <h4 id='pricing-small'>Per month</h4>
        </div>
        <div class="panel-body text-center">
          <p class="lead" style="font-size:40px" ><strong>$25 / month</strong></p>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item"><i class="icon-ok text-danger"></i> 1 Free shipment per month</li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i> 10% 'own it' discount</li>
        </ul>
        <div class="panel-footer">

          <form method='POST' action="{% url 'subscribe' %}">
            {% csrf_token %}
            <input type='hidden' name='planType' value='bronze'>
            <div style='text-align: center;'>
            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="{{ stripeKey }}"
              data-image="{% static '/static/assets/img/signup.png' %}"
              data-name="Borroh"
              data-amount="2500"
              data-label="Subscribe">
            </script>
            </div>
          </form>
        </div>
      </div>


      <!-- /PRICE ITEM -->
      
      
    </div>
    
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
    
      <!-- PRICE ITEM -->
      <div class="panel price panel-blue">
        <div class="panel-heading  text-center">
        <h1 id='pricing-bold'>60 Points</h3>
        <h4 id='pricing-small'>Per month</h4>
        </div>
        <div class="panel-body text-center">
          <p class="lead" style="font-size:40px"><strong>$45 / month</strong></p>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item"><i class="icon-ok text-danger"></i> 2 Free shipment per month</li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i> 15% 'own it' discount</li>
        </ul>
        <div class="panel-footer">
          
          <form method='POST' action="{% url 'subscribe' %}">
            {% csrf_token %}
            <input type='hidden' name='planType' value='silver'>
            <div style='text-align: center;'>
            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="{{ stripeKey }}"
              data-image="{% static '/static/assets/img/signup.png' %}"
              data-name="Borroh"
              data-amount="4500"
              data-label="Subscribe">
            </script>
            </div>
          </form>
        </div>
      </div>
      <!-- /PRICE ITEM -->
      
      
    </div>
    
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
    
      <!-- PRICE ITEM -->
      <div class="panel price panel-green">
        <div class="panel-heading  text-center">
        <h1 id='pricing-bold'>90 Points</h3>
        <h4 id='pricing-small'>Per month</h4>
        </div>
        <div class="panel-body text-center">
          <p class="lead" style="font-size:40px"><strong>$65 / month</strong></p>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item"><i class="icon-ok text-danger"></i> 3 Free shipment per month</li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i> 20% 'own it' discount</li>
        </ul>
        <div class="panel-footer">
          
          <form method='POST' action="{% url 'subscribe' %}">
            {% csrf_token %}
            <input type='hidden' name='planType' value='bronze'>
            <div style='text-align: center;'>
            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="{{ stripeKey }}"
              data-image="{% static '/static/assets/img/signup.png' %}"
              data-name="Borroh"
              data-amount="6500"
              data-label="Subscribe">
            </script>
            </div>
          </form>
        </div>
      </div>
      <!-- /PRICE ITEM -->
      
      
    </div>

  </div>          
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1"><hr></div>
</div>
        

<script src="https://checkout.stripe.com/checkout.js"></script>
<script src="https://code.jquery.com/jquery-2.1.3.js"></script>
