<h3 class="section-title style2 text-center"><span>Subscriptions</span></h3>
<div class="row">


  <div class="col-md-10 col-md-offset-1">
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
    
      <!-- PRICE ITEM -->
      <div class="panel price panel-red">
        <div class="panel-heading  text-center">
        <h1>30 Points</h3>
        <h4>Per month</h4>
        </div>
        <div class="panel-body text-center">
          <p class="lead" style="font-size:40px"><strong>$25 / month</strong></p>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item"><i class="icon-ok text-danger"></i> 1 Free shipment per month</li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i> 10% 'own it' discount</li>
        </ul>
        <div class="panel-footer">
          
          <a class="btn btn-lg btn-block btn-danger" href="#">Choose Plan</a>
        </div>
      </div>
      <!-- /PRICE ITEM -->
      
      
    </div>
    
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
    
      <!-- PRICE ITEM -->
      <div class="panel price panel-blue">
        <div class="panel-heading  text-center">
        <h1>60 Points</h3>
        <h4>Per month</h4>
        </div>
        <div class="panel-body text-center">
          <p class="lead" style="font-size:40px"><strong>$45 / month</strong></p>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item"><i class="icon-ok text-danger"></i> 2 Free shipment per month</li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i> 15% 'own it' discount</li>
        </ul>
        <div class="panel-footer">
          
          <a class="btn btn-lg btn-block btn-info" href="#">Choose Plan</a>
        </div>
      </div>
      <!-- /PRICE ITEM -->
      
      
    </div>
    
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
    
      <!-- PRICE ITEM -->
      <div class="panel price panel-green">
        <div class="panel-heading  text-center">
        <h1>90 Points</h3>
        <h4>Per month</h4>
        </div>
        <div class="panel-body text-center">
          <p class="lead" style="font-size:40px"><strong>$65 / month</strong></p>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item"><i class="icon-ok text-danger"></i> 3 Free shipment per month</li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i> 20% 'own it' discount</li>
        </ul>
        <div class="panel-footer">
          
          <a class="btn btn-lg btn-block btn-success" href="#">Choose Plan</a>
        </div>
      </div>
      <!-- /PRICE ITEM -->
      
      
    </div>

  </div>          
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1"><hr></div>
</div>
        
