<div class="col-lg-3 col-md-3 col-sm-5 rightSidebar">
      <div class="contentBox" >
        <div class="w100 costDetails">
          
          <div class="table-block" id="order-detail-content"> 
            {% if request.path == '/cart/show/borroh' %}
            <form method='POST' action="{% url 'start_order_process' %}">
              {% csrf_token %}
              <input type='hidden' name='checkout_process' value='borroh'>
            <button class="btn btn-primary btn-lg btn-block " title="checkout" type='submit' style="margin-bottom:20px"> Borroh Items! &nbsp; <i class="fa fa-arrow-right"></i> 
            </button>
            </form>
            {% else %}
            <form method='POST' action="{% url 'start_order_process' %}">
              {% csrf_token %}
              <input type='hidden' name='checkout_process' value='buy'>
            <button class="btn btn-primary btn-lg btn-block " title="checkout" type='submit' style="margin-bottom:20px"> Buy Items! &nbsp; <i class="fa fa-arrow-right"></i> 
            </button>
            </form>
            {% endif %}
            
          
        </div>
      </div>
      <!-- End popular --> 
      
    </div>
    <!--/rightSidebar--> 
    
  </div><!--/row-->