{% extends 'layouts/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container main-container headerOffset">
  
  <div class="row innerPage">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="row userInfo">
      	<h1>Subscription Confirmation</h1>
        <h1>Thanks for your order!</h1>
        <table class="table table-bordered">
      <thead>
        <tr>
          <th>Order Confirmation</th>
          <th>User</th>
          <th>Plan</th>
          <th>Email</th>
          <th>Price / Month</th>
          <th>Points Awarded / Month</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>{{ user_subscription_confirmation.user }}</td>
          <td>{{ user_subscription_confirmation.plan }}</td>
          <td>{{ user_subscription_confirmation.email }}</td>
          <td>{{ user_subscription_confirmation.price }}</td>
          <td>{{ user_subscription_confirmation.points }}</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-success"><a href="{% url 'cart_show_borroh' %}">Go to Borroh Cart</a></button>
        
      </div>  <!--/row end-->
    </div>
  </div> <!--/.innerPage-->
  <div style="clear:both">  </div>
</div><!-- /.main-container -->


<div class="gap"> </div>

{% endblock %}