<form method='POST' action="{% url 'auth_create_account' %}">
          {% csrf_token %}
          <div class="form-group reg-username">
          <div >
            {{ register.username }}
          </div>
        </div>
        <div class="form-group reg-email">
          <div >
            {{ register.email }}
          </div>
        </div>
        <div class="form-group reg-password">
          <div >
            {{ register.password }}
          </div>
        </div>
        <div class="form-group">
          <div >
            <div class="checkbox login-remember">
              <label>
                <input name="rememberme" id="rememberme" value="forever" checked="checked" type="checkbox">
                Remember Me </label>
            </div>
          </div>
        </div>
        <div >
          <div >
            <input name="submit" class="btn  btn-block btn-lg btn-primary" value="REGISTER" type="submit">
          </div>
        </div>

        </form>