{% load staticfiles %}

	<div class="morePost row featuredPostContainer style2 globalPaddingTop " >
    <h3 class="section-title style2 text-center"><span>FEATURED PRODUCT</span></h3>
    <div class="container">
      <div class="row xsResponse">

       {% for product in featured_products %}
        <div id='product-id-custom' style='display: none'>{{ product.id }}</div>

        <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6 " id='custom-product-featured-show'>
          <div class="product">
      
          <a href="{% url 'add_to_wishlist' product.id %}" class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist"  data-placement="left">
          <i class="glyphicon glyphicon-heart"></i>
          </a>
          
          
          <!-- item -->

          <div class="image">  
          <div id="{{product.id}}" class="quickview">
              <a title="Quick View" class="btn btn-xs  btn-quickview" data-target="#product-details-modal" data-toggle="modal"> Quick View </a>

            
            
             </div><a href="#"><img src="media/{{ product.image_set.all.0 }}" alt="img" class="img-responsive"></a>
            
              <div class="promotion"> '
                {% if product.status == 'New' %}
                  <span class="new-product">{{ product.status }}</span> 
                {% endif %}
                {% if product.discount != None %}
                  <span class="discount">{{ product.discount }}</span> 
                {% endif %}
              </div>
            </div>

            <div class="description">
              <h4><a href="{% url 'product_detail_non_json' product.id %}">{{ product.title }}</a></h4>
              <p>{{ product.description }}</p>
              <span class="size">{{ product.size.contents_to_string }}</span> </div>
            <div class="row">
              <div class="price"> <span>price: ${{ product.price }}</span> <span class="old-price">$75</span> </div>
              <div style='margin-right: 25px;' class="price"> <span>points: {{ product.points_price }}</span> </div>
            </div>
            


            <div id="custom-cart-row" class="row">
              <div class="col-md-5 col-md-offset-1">

                <form method='POST' action="{% url 'add_item' product.id %}" >
                  {% csrf_token %}
                  <input name='cart_to_add' type='text' style="display: none;" value='buy'>

                  <button  id='custom-cart-add' class="btn btn-default" type='submit'>
                    <a style='text-decoration: none; color: #FFFFFF;'>
                      Add Cart
                    </a>
                  </button>
                </form>
              </div>
                

              <div class="col-md-5">
                <form method='POST' action="{% url 'add_item' product.id %}" >
                  {% csrf_token %}
                  <input name='cart_to_add' type='text' style="display: none;" value='borroh'>

                  <button id='custom-cart-add' class="btn btn-default" type='submit'>Add Borrow</button>
                    
                  </button>
                </form>
                
              </div>
            </div>

            </div>

        </div>
        {% endfor %}
      </div>
      <!-- /.row -->
      
      <div id='custom-featured' class="row" style='margin-top: 50px;'>
        <div class="load-more-block text-center"> <a class="btn btn-thin" href="#"> <i class="fa fa-plus-sign">+</i> load more products</a> </div>
      </div>
    </div>
