{% extends 'layouts/base.html' %}
{% load staticfiles %}

{% block content %}
	{% include 'layouts/pages/slider.html' %}
{% endblock %}



{% block pricing_tables %}
	{% if user_does_not_have_a_subscription %}
		{% include 'layouts/pages/pricing_table.html' %}
	{% endif %}
{% endblock %}


{% block icon_showings %}
	{% include 'layouts/pages/icon_showings.html' %}
{% endblock %}

{% block featured_products %}
	{% include 'product/featured_products.html' %}
{% endblock %}

{% block collections %}
  {% include 'product/collections.html' %}
{% endblock %}



