<ul class="orderStep orderStepLook2">
    <li> <a href="{% url 'order_address' %}"> <i class="fa fa-map-marker "></i> <span> address</span> </a> </li>
    <li class="active"> <a href="{% url 'order_billing' %}"> <i class="fa fa fa-envelope  "></i> <span> Billing </span></a></li>
    <li> <a href="{% url 'order_shipping' %}"><i class="fa fa-truck "> </i><span>Shipping</span> </a> </li>
    <li> <a href="{% url 'order_payment' %}"><i class="fa fa-money  "> </i><span>Payment</span> </a> </li>
    <li> <a href="{% url 'order_show' %}"><i class="fa fa-check-square "> </i><span>Order</span></a> </li>
  </ul>
  <!--/.orderStep end--> 
</div>