{% load staticfiles %}
        <div class="w100 clearfix">
          
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div style='padding-left: 5px; font-size: 20px; font-weight: 600; background-color: #BEBEBE ;'>
            <div class="panel panel-default">
              <div class="panel-heading">
                {% if user_credit_card.0 == None %}
                <h3 class="panel-title"><strong>Credit Card: None</strong></h3>
                {% else %}
                {{ hmm }}
                <h3 class="panel-title"><strong>{{ user_credit_card.0 }}</strong></h3>
                {% endif %}
              </div>
              <div>
                {% if user_credit_card.0 != None %}
                <ul class='profile-show-custom'>
                    <li> Last 4 digits: {{ user_credit_card.0.credit_card_last_4 }}</li>
                    <li> Type: {{ user_credit_card.0.type_of_credit_card }}</li>
                    <li> Last: {{ user_info }}</li>
                </ul>
                {% endif %}
                  
                
              </div>
              <div class="panel-footer panel-footer-address"> 
                {% if user_credit_card.0 == None %}
                <a href="{% url 'add_card_to_stripe' %}" class="btn btn-sm btn-default"> 
                  <i class="fa fa-edit"></i> 
                  Add a Card to Stripe 
                </a> 
                {% else %}
                 <div class="row">
                 
                <div class="col-lg-6">

                  <a style="width: 100px;" href="{% url 'add_card_to_stripe' %}" class="btn btn-sm btn-default"> 
                  <i class="fa fa-edit"></i> 
                  Add Another
                </a> 
                </div>

                <div class="col-lg-5">
                  <form method='POST' action="{% url 'delete_stripe_card' %}">
                    {% csrf_token %}
                      <input type='hidden' name="last_4" value="{{ user_credit_card.0.credit_card_last_4 }}">
                     <button type="submit" style="width: 100px;" class="btn btn-sm btn-danger"> 
                      <i class="fa fa-edit"></i> 
                      Delete Card
                    </button> 
                  </form>
                </div>

                </div>


                {% endif %}
              </div>
            </div>
          </div>
          <div style='margin-top: 10px' class='visible-sm visible-xs'></div>
        
      
          
         
        </div>